<div class="form-row">
  <div class="form-group col-md-12">
    <label for="fname">Gender</label>
    <label class="radio-inline" style="margin-left: 10px">
      <input type="radio" [formControl]="gender" name="gender" id="gender.male" value="male">Male</label>
    <label class="radio-inline">
      <input type="radio" [formControl]="gender" name="gender" id="gender.female" value="female">Female</label>
    <label class="radio-inline">
      <input type="radio" [formControl]="gender" name="gender" id="gender.others" value="others">Others</label>
  </div>
</div>
<!-- <div class="form-row">
  <div class="form-group col-md-12">
<label for="fname">Gender</label>
<div class="radio-inline" *ngFor="let gender of genders">
  <label>
  <input type="radio" [formControl]="gender" [value]="gender">{{ gender }} </label>
</div>
</div>
</div> -->