<div class="form-group col-md-12">
  <label for="comment">Description</label>
  <textarea class="form-control" rows="5" id="description" placeholder="Introduce yourself..." name="description" [formControl]="description"></textarea>
</div>