<div [formGroup]="address">
  <div class="form-group col-md-12">
    <label for="Address1">Address</label>
    <input type="text" class="form-control" id="Address1" placeholder="street name" formControlName="address1" name="address1">
  </div>
  <div class="form-group col-md-12">
    <label for="Address2">Address 2</label>
    <input type="text" class="form-control" id="Address2" formControlName="address2" name="address2" placeholder="House number, Plot number, LandMark">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="City">City</label>
      <input type="text" class="form-control" formControlName="city" id="City" name="city" placeholder="city">
    </div>
    <div class="form-group col-md-4">
      <label for="stateState">State</label>
      <select id="State" class="form-control" formControlName="state" name="state"  >
        <option *ngFor="let state of states">{{state}}</option>
      </select>
    </div>
    <div class="form-group col-md-2">
      <label for="pincode">Pin Code</label>
      <input type="text" class="form-control" id="pincode" name="pincode" formControlName="pincode">
    </div>
  </div>
</div>