<div class="form-row">
  <div class="form-group col-md-12">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" [formControl]="email" placeholder="Email" name="email">
  </div>
</div>