<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <app-name [name]="myForm.controls.name"></app-name>
  <app-gender [gender]="myForm.controls.gender"></app-gender>
  <app-email [email]="myForm.controls.email"></app-email>
  <app-phonenumber [phonenumber]="myForm.controls.phonenumber"></app-phonenumber>
  <app-postaladdress [address]="myForm.controls.address"></app-postaladdress>
  <app-description [description]="myForm.controls.description"></app-description>
  <!-- Submit/Reset -->
  <div class="form-row">
    <div class="col-md-12 text-center">
      <button class="btn btn-primary" type="submit">Submit</button>
      <button class="btn btn-warning" type="reset" onclick="reset()">Reset</button>
    </div>
  </div>

</form>

<pre>Form Values: {{myForm.value | json}}</pre>