<div class="form-row">
  <div class="form-group col-md-12">
    <label for="phonenumber">Phone Number</label>
    <input type="text" class="form-control" id="phonenumber" [formControl]="phonenumber" placeholder="Phone Number" name="pnumber">
  </div>
</div>