<div [formGroup]="name">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="fname">First Name</label>
      <input type="text" class="form-control" formControlName="firstname" id="fisrtname" placeholder="First Name">
    </div>
    <div class="form-group col-md-6">
      <label for="lname">Last Name</label>
      <input type="text" class="form-control" formControlName="lastname" id="lastname" placeholder="Last name">
    </div>
  </div>
</div>